Source: plugin-network
Section: net
Priority: extra
Maintainer: Vincent BESANCON <vincent.besancon@faurecia.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Vcs-Git: http://monitoring-dc.app.corp/git/network.git
Vcs-Browser: http://monitoring-dc.app.corp/git/?p=network.git

Package: plugin-network
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, perl (>= 5.10), python (<< 2.8)
Description: Nagios/Shinken Faurecia Network Plugins
 This is the package to install Faurecia Nagios/Shinken Network Plugins used to
 check Cisco/Nortel/Extreme equipments.
